@{
    ViewBag.Title = "我的店铺";
    Layout = "~/Views/Shared/_Manage.cshtml";
}

<!DOCTYPE html>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>店铺</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="font-noraml">店铺</label>
                                <div class="input-group">
                                    <select data-placeholder="选择店铺..." class="chosen-select" style="width:300px;" tabindex="2"
                                            data-bind="options: shops,optionsText: 'ShopName',value:selectedShop"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" id="selectedDate" style="width: 300px">
                                <label class="font-noraml">日期</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" data-bind="value:selectedDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="font-noraml">&nbsp;</label>
                                    <div class="input-group">
                                        <div class="btn btn-primary" data-bind="click:reloadShopDesk">查找</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>桌子</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- ko foreach: selectedShopDesks -->
                            <div class="file-box">
                                <div class="file">
                                    <a href="#" data-bind="click:function(){$root.openDesk($data)}">
                                        <span class="corner"></span>


                                        <div class="m-r-md inline">
                                            <input type="text" data-bind="value:$root.numberOfBookedPostions($data)" data-readonly="true" data-max="12" class="dial m-r-sm" data-fgcolor="#1AB394" data-width="185" data-height="185" />
                                        </div>

                                        <div class="file-name" style="text-align: center">
                                            <span data-bind="text:DeskName"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal" id="deskModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">座位</h4>
                </div>
                <div class="modal-body">
                    <!-- ko foreach: alivablePositions -->

                    <div class="checkbox checkbox-inline" style="min-width: 100px;margin-bottom: 20px">
                        <input type="checkbox"  data-bind="checkedValue: $data,checked:$root.selectedPositions,attr:{id:'positionId'+$data}">
                        <label data-bind="attr:{for:'positionId'+$data}"> 座位<span data-bind="text:$data"></span></label>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-bind="click:bookPosition">预定</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*@Scripts.Render("~/Content/js/plugins/jsKnob/jquery.knob.js")*@
@section scripts{
    <script src="~/Content/js/plugins/jsKnob/jquery.knob.js"></script>
    <script type="text/javascript">
        function ViewModel() {
            var self = this;
            self.shops = ko.observableArray();
            self.selectedShop = ko.observable();
            self.selectedShopDesks = ko.observableArray();
            self.selectedDate = ko.observable('@DateTime.Now.Date');
            self.selectedDesk = ko.observable();

            self.allPositions = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'];
            self.selectedPositions = ko.observableArray();
            self.urls = {
                GetShops: '@Url.Action("GetShops")',
                GetShopDesks: '@Url.Action("GetShopDesks")',
                BookPositionsInternal: '@Url.Action("BookPositionsInternal")',
                d: '@Url.Action("DeleteFunction")'
            }
            self.loadShops = function() {
                bnApp.showLoading();
                $.ajax({
                    url: self.urls.GetShops,
                    type: "GET",
                    success: function(result) {
                        self.shops.removeAll();
                        self.shops(result);
                        $('.chosen-select').chosen();
                        bnApp.hideLoading();
                    },
                    error: function(error) {
                        bnApp.showError(error);
                        bnApp.hideLoading();
                    }
                });
            }
            self.reloadShopDesk=function() {
                var condition = self.condition();
                self.loadShopDesk(condition.shop.ShopId, condition.date);
            }
            self.loadShopDesk = function(shopId, sdate) {

                bnApp.showLoading();
                $.ajax({
                    url: self.urls.GetShopDesks,
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ shopId: shopId, selectedDate: sdate }),
                    success: function(result) {
                        self.selectedShopDesks.removeAll();
                        self.selectedShopDesks(result);

                        $(".dial").knob();
                        bnApp.hideLoading();
                    },
                    error: function(error) {
                        bnApp.showError(error);
                        bnApp.hideLoading();
                    }
                });
            };
            self.numberOfBookedPostions =function(desk) {
                if (desk.BookedPositions == null)
                    return 0;
                return desk.BookedPositions.split(',').length;
            };
            self.condition = ko.computed(function() {
                var shop = self.selectedShop();
                var date = self.selectedDate();
                console.log('---conditionchange---');
                if (shop != undefined && shop.ShopId != undefined && shop.ShopId != null && date != undefined) {
                    self.loadShopDesk(shop.ShopId, date);
                }
                return { shop: shop, date: date };
            });
            self.alivablePositions = ko.computed(function() {
                var sd = self.selectedDesk();
                if (sd == undefined)
                    return [];
                if (sd.BookedPositions && sd.BookedPositions != null) {
                    var bp = sd.BookedPositions.split(',');
                    var result = [];
                    for (var i = 0; i < self.allPositions.length; i++) {
                        var p = self.allPositions[i];
                        if (bp.indexOf(p)<0) {
                            result.push(p);
                        }
                    }
                    return result;
                } else {
                    return self.allPositions;
                }
            });
            self.deskModal = $('#deskModal');
            self.openDesk = function(desk) {
                self.selectedDesk(desk);
                self.selectedPositions.removeAll();
                self.deskModal.modal("show");
            }
            self.bookPosition = function() {
                console.log(JSON.stringify(self.selectedPositions()));
                var data = { positions: self.selectedPositions(), selectedDate: self.selectedDate(), deskId: self.selectedDesk().DeskId };
                bnApp.showLoading();
                $.ajax({
                    url: self.urls.BookPositionsInternal,
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (result) {

                        bnApp.showMessage();
                        bnApp.hideLoading();
                        self.reloadShopDesk();
                    },
                    error: function (error) {
                        bnApp.showError(error);
                        bnApp.hideLoading();
                        self.reloadShopDesk();
                    }
                });
                self.deskModal.modal("hide");
            }
            self.init = function() {
                $('#selectedDate .input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                });
                self.loadShops();
            }
            self.init();
        }

        ko.applyBindings(new ViewModel());
    </script>
}