@{
    ViewBag.Title = "订单管理";
    Layout = "~/Views/Shared/_Manage.cshtml";
}

<!DOCTYPE html>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单管理</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="font-noraml">店铺</label>
                                <div class="input-group">
                                    <select data-placeholder="选择店铺..." class="chosen-select" style="width:300px;" tabindex="2"
                                            data-bind="options: shops,optionsText: 'ShopName',value:selectedShop"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" id="selectedDateFrom" style="width: 300px">
                                <label class="font-noraml">日期从</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" data-bind="value:From">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" id="selectedDateTo" style="width: 300px">
                                <label class="font-noraml">到</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" data-bind="value:To">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="font-noraml">订单状态</label>
                                <div class="input-group">
                                    <select data-placeholder="" class="chosen-select" style="width:300px;" tabindex="2"
                                            data-bind="options: allStatus,optionsText: 'StatusName',value:Status"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                                  <div class="form-group" id="selectedDateFrom" style="width: 300px">
                                      <label class="font-noraml">客户Id</label>
                                      <div class="input-group">
                                          <input type="text" class="form-control" data-bind="value:CustomerOpenId">
                                      </div>
                                  </div>
                              </div>

                        <div class="col-sm-3 col-sm-offset-9">
                            <div class="form-group">
                                <div class="btn btn-primary" data-bind="click:loadOrders">查找</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>店铺管理</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        @*<th style="width:30px"></th>*@
                                        <th>店铺</th>
                                        <th>日期</th>
                                        <th>桌号</th>
                                        <th>客户OpenId</th>
                                        <th>金额</th>
                                        <th>订单状态</th>
                                        <th style="width:200px">操作</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach:Orders">
                                    <tr>
                                        <td data-bind="text:ShopName"></td>
                                        <td data-bind="text:OrderDate"></td>
                                        <td data-bind="text:DeskName"></td>
                                        <td data-bind="text:CustomerOpenId"></td>
                                        <td data-bind="text:Amount"></td>
                                        <td data-bind="text:$root.displayStatus(Status)"></td>
                                        <td>
                                            <div class="btn btn-sm btn-primary" data-bind="click:function(){$root.refund(OrderId)},visible:Status=='-1'"><i class="fa fa-pencil">退款</i></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>
@section scripts{
    <script type="text/javascript">
        function ViewModel() {
            var self = this;

            self.From = ko.observable('@DateTime.Now.AddDays(-7).Date');
            self.To = ko.observable('@DateTime.Now.AddDays(7).Date');
            //self.ShopIds = ko.observableArray([]);
            self.Status = ko.observable();
            self.allStatus = [{ StatusName: 'All' }, { StatusName: '未付款', Id: '0' }, { StatusName: '已付款', Id: '1' }, { StatusName: '申请退款', Id: '-1' }, { StatusName: '已退款', Id: '-2' }];
            self.Orders = ko.observableArray([]);
            self.shops = ko.observableArray();
            self.selectedShop = ko.observable();
            self.CustomerOpenId = ko.observable();
            self.urls = {
                GetShops: '@Url.Action("GetShops")',
                GetOrders: '@Url.Action("GetOrders")',
                RefundOrder: '@Url.Action("RefundOrder")',
            }
            self.ShopId = ko.computed(function() {
                var s = self.selectedShop();
                if (s) {
                    return s.ShopId;
                } else
                    return null;
            });
            self.loadShops = function() {
                bnApp.showLoading();
                $.ajax({
                    url: self.urls.GetShops,
                    type: "GET",
                    success: function(result) {
                        self.shops.removeAll();
                        self.shops(result);
                        $('.chosen-select').chosen();
                        bnApp.hideLoading();
                    },
                    error: function(error) {
                        bnApp.showError(error);
                        bnApp.hideLoading();
                    }
                });
            }
            self.loadOrders = function() {
                bnApp.showLoading();
                var condition = { From: self.From(), To: self.To(), ShopId: self.ShopId(), Status: self.Status().Id, CustomerOpenId: self.CustomerOpenId()};
                $.ajax({
                    url: self.urls.GetOrders,
                    type: "Post",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({condition:condition}),
                    success: function(result) {
                        self.Orders.removeAll();
                        self.Orders(result);
                        bnApp.hideLoading();
                    },
                    error: function(error) {
                        bnApp.showError(error);
                        bnApp.hideLoading();
                    }
                });
            },
            self.refund=function(orderId) {
                bnApp.showLoading();
                var data = { orderId: orderId };
                $.ajax({
                    url: self.urls.RefundOrder,
                    type: "Post",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (result) {
                        bnApp.hideLoading();
                        bnApp.showMessage('退款成功');
                        self.loadOrders();
                    },
                    error: function (error) {
                        bnApp.showError(error);
                        bnApp.hideLoading();
                    }
                });
            }
            self.init = function() {
                $('.input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                });
                self.loadShops();
            },
            self.displayStatus=function(s)
            {
                var l = self.allStatus.filter(function (x) { return x.Id == s; });
                if (l.length>0) {
                    return l[0].StatusName;
                }
                return 'NA';
            }
            self.init();
        }

        ko.applyBindings(new ViewModel());
    </script>
}