@using BnWS.Entity
@using BnWS.Extention
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Manage.cshtml";
}
<style>
    .role-list li {
        list-style: none;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>角色维护</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-5 m-b-xs">
                        </div>
                        <div class="col-sm-4 m-b-xs">

                        </div>
                        <div class="col-sm-3">
                            <div class="btn btn-sm btn-primary pull-right" data-bind="click:showDialog"><i class="fa fa-plus">添加</i></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:30px"></th>
                                    <th>角色</th>
                                    <th style="width:200px">操作</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:items">
                                <tr>
                                    <td data-bind="text:$index()+1"></td>
                                    <td data-bind="text:RoleName"></td>
                                    <td>
                                        <div class="btn btn-sm btn-primary" data-bind="click:$root.showEditFunctionsDialog"><i class="fa fa-pencil">功能</i></div>
                                        <div class="btn btn-sm btn-primary" data-bind="click:$root.showDialog"><i class="fa fa-pencil">编辑</i></div>
                                        <div class="btn btn-sm btn-primary" data-bind="click:$root.delete"><i class="fa fa-remove">删除</i></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">角色</h4>
            </div>
            <div class="modal-body" data-bind="with:item">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">角色名</label>
                        <div class="col-sm-10">
                            <input type="text" data-bind="value:RoleName" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-bind="click:saveChange">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="roleFunctionDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">角色功能设置</h4>
            </div>
            <div class="modal-body" style="max-height: 400px;overflow: auto">
                <input type="hidden" id="currentRoleId" />
                <div class="form-horizontal">
                    <ul class="role-list">
                        @Html.BuildFunctionTree(ViewBag.Functions as List<T_S_Function>)
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-bind="click:updateRole">保存</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function ViewModel() {
            var self = this;
            self.emptyItem = { RoleName: '' };
            self.itemKey = 'RoleId';
            self.urls = {
                load: '@Url.Action("getroles")',
                updateRoleFunctions: '@Url.Action("updateRoleFunctions")',
                a: '@Url.Action("AddRole")',
                u: '@Url.Action("UpdateRole")',
                d: '@Url.Action("DeleteRole")'
            }

            self.detailModal = $('#detailModal');
            self.items = ko.observableArray();
            self.functions = ko.observableArray();
            self.item = ko.observable();
            self.load = function() {
                bnApp.showLoading();
                $.ajax({
                    url: self.urls.load,
                    type: "GET",
                    success: function(result) {
                        self.items(result.data);
                        bnApp.hideLoading();
                    },
                    error: function(error) {
                        bnApp.showError(error);
                        bnApp.hideLoading();
                    }
                });
            }
            self.showDialog = function(data) {
                if (!data[self.itemKey]) {
                    data = $.extend(true, {}, self.emptyItem);
                }
                self.item(data);
                self.detailModal.modal("show");
            };
            self.showEditFunctionsDialog = function(data) {
                $('#roleFunctionDetailModal').modal('show');
                $('#currentRoleId').val(data.RoleId);
                var functions = $.map(data.T_S_Role_Function, function(x) {return x.FunctionId;});
                $('.role-list input[type=checkbox]').each(function(i, c) {
                    $(c).prop('checked', $.inArray($(c).data('fid'), functions) >= 0);
                });
            };
            self.updateRole = function() {
                bnApp.showLoading();
                var data = { userId: $('#currentRoleId').val(), roles: $.map($('.role-list input[type=checkbox]:checked'), function(x) { return $(x).data('fid'); }) };
                $('#roleFunctionDetailModal').modal('hide');
                $.ajax({
                    url: self.urls.updateRoleFunctions,
                    type: "post",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function(result) {
                        bnApp.hideLoading();
                        self.load();
                    },
                    error: function(error) {
                        bnApp.showError(error);
                        bnApp.hideLoading();
                    }
                });
            }
            self.delete = function(data) {
                bnApp.showLoading();
                $.ajax({
                    url: self.urls.d,
                    type: "post",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ itemId: data[self.itemKey] }),
                    success: function(result) {
                        bnApp.hideLoading();
                        self.load();
                    },
                    error: function(error) {
                        bnApp.showError(error);
                        bnApp.hideLoading();
                    }
                });
            }
            self.saveChange = function() {
                var url;
                var data = self.item();
                if (data[self.itemKey]) {
                    url = self.urls.u;
                } else {
                    url = self.urls.a;
                }
                bnApp.showLoading();
                $.ajax({
                    url: url,
                    type: "post",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ item: data }),
                    success: function(result) {
                        bnApp.hideLoading();
                        self.load();
                    },
                    error: function(error) {
                        bnApp.showError(error);
                        bnApp.hideLoading();
                    }
                });
                self.detailModal.modal("hide");
            }
            self.init = function() {
                self.load();
            }
            self.init();
        }

        ko.applyBindings(new ViewModel());


    </script>
}
